<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vinciguerra.dd">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_d_d"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_d_d_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DD">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreationGuidee"
            android:exported="true" />
        <activity
            android:name=".ValidationPersonnage"
            android:exported="true" />
        <activity
            android:name=".Personnage"
            android:exported="true" />
    </application>

</manifest>